
.main-image {
    position: relative;
  width: 100%;
  height: 65vh;
  object-fit: cover;
  background-image: url('/images/blueSky.jpg');
  background-position: center center; 
  margin-bottom: 80px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.toolbar{
    display: flex;
    position: relative;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    background-color: transparent;
    color: white;
    z-index: 1;
}

.input-size{
    width: 200px;
    height: 30px;
}

.options{
    display: flex;
    gap: 1rem   ;
}

.option-item{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.option-item:hover{
    text-decoration: underline;
}

.rounded-btn{
    border-radius: 20px;
    padding: .5rem 1rem;
    background-color: #f1f1f1;
    mix-blend-mode: difference;
    font-weight: bold;
    text-decoration: none;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    left: 38%;
    top: 31.5%;
}

.hot-destinations, .top-hotels{
    font-family: IBM Plex Sans;
    font-weight: 600;
}

.card{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.card-destination{
    width: 285px;
    height: 350px;
    border-radius: 16px;
    margin-bottom: 100px;
}

.card-hotel{
    width: 380px;
    height: 350px;
}

.card-img-top{
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 50px;
}

.recommended{
    margin-bottom: 100px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.validation{
    color: red;
}

.rating{
    display: flex;
    gap: 2px;
}

.star{
    width: 10px;
    height: 10px;
}